body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: wheat;
    font-family: Aria;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: gray;
}

label {
    display: block;
    margin-bottom: 5px;
    color: gray;
}

input[type="email"],
input[type="password"],
input[type="text"]
 {
    width: 280px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(57, 57, 232);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(57, 57, 232);
}

p {
    font-size: 16px;
    text-align: center;
    color: gray;
}

a {
    color: rgb(57, 57, 232);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
